## Aula 5.3. Coleta de dados macroeconômicos

### Coletando dados da API do IBGE (sidra)

Acessar https://sidra.ibge.gov.br/home/

Utilizar o query builder disponível em https://servicodados.ibge.gov.br/api/docs/agregados?versao=3#api-bq

In [1]:
import requests_html

### IPCA - Índice Nacional de Preços ao Consumidor Amplo

https://www.ibge.gov.br/estatisticas/economicas/precos-e-custos/9256-indice-nacional-de-precos-ao-consumidor-amplo.html?=&t=o-que-e

#### IPCA (Índice geral) - Variação acumulada no ano

In [2]:
url = "https://servicodados.ibge.gov.br/api/v3/agregados/7060/periodos/202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302/variaveis/69?localidades=N1[all]&classificacao=315[7169]"

Também chamadas de “strings literais formatadas” (formatted string literals), f-strings são strings com a letra f no início e chaves {} para realizar a interpolação de expressões.

In [3]:
url_api = "https://servicodados.ibge.gov.br/api/v3/agregados"
tabela = "7060" 
periodos = "202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302"
variaveis = "69"
localidades = "N1[all]"
classificacao = "315[7169]"

In [4]:
url = f"""
{url_api}/{tabela}/periodos/{periodos}/variaveis/{variaveis}?localidades={localidades}&classificacao={classificacao}
"""

In [5]:
url

'\nhttps://servicodados.ibge.gov.br/api/v3/agregados/7060/periodos/202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302/variaveis/69?localidades=N1[all]&classificacao=315[7169]\n'

In [6]:
r = requests_html.HTMLSession().get(url)

In [7]:
r.json()

[{'id': '69',
  'variavel': 'IPCA - Variação acumulada no ano',
  'unidade': '%',
  'resultados': [{'classificacoes': [{'id': '315',
      'nome': 'Geral, grupo, subgrupo, item e subitem',
      'categoria': {'7169': 'Índice geral'}}],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'202001': '0.21',
       '202002': '0.46',
       '202003': '0.53',
       '202004': '0.22',
       '202005': '-0.16',
       '202006': '0.10',
       '202007': '0.46',
       '202008': '0.70',
       '202009': '1.34',
       '202010': '2.22',
       '202011': '3.13',
       '202012': '4.52',
       '202101': '0.25',
       '202102': '1.11',
       '202103': '2.05',
       '202104': '2.37',
       '202105': '3.22',
       '202106': '3.77',
       '202107': '4.76',
       '202108': '5.67',
       '202109': '6.90',
       '202110': '8.24',
       '202111': '9.26',
       '202112': '10.06',
       '202201': '0.54',
       '202202': '1.56',
       '202203': '3.20',
       '202204': '4.29',
       '202205': '4.78',
       '202206': '5.49',
       '202207': '4.77',
       '202208': '4.39',
       '202209': '4.09',
       '202210': '4.70',
       '202211': '5.13',
       '202212': '5.79',
       '202301': '0.53',
       '202302': '1.37'}}]}]}]

In [8]:
r.json()[0]["resultados"][0]["series"][0]["serie"]

{'202001': '0.21',
 '202002': '0.46',
 '202003': '0.53',
 '202004': '0.22',
 '202005': '-0.16',
 '202006': '0.10',
 '202007': '0.46',
 '202008': '0.70',
 '202009': '1.34',
 '202010': '2.22',
 '202011': '3.13',
 '202012': '4.52',
 '202101': '0.25',
 '202102': '1.11',
 '202103': '2.05',
 '202104': '2.37',
 '202105': '3.22',
 '202106': '3.77',
 '202107': '4.76',
 '202108': '5.67',
 '202109': '6.90',
 '202110': '8.24',
 '202111': '9.26',
 '202112': '10.06',
 '202201': '0.54',
 '202202': '1.56',
 '202203': '3.20',
 '202204': '4.29',
 '202205': '4.78',
 '202206': '5.49',
 '202207': '4.77',
 '202208': '4.39',
 '202209': '4.09',
 '202210': '4.70',
 '202211': '5.13',
 '202212': '5.79',
 '202301': '0.53',
 '202302': '1.37'}

In [9]:
import pandas as pd

In [10]:
pd.DataFrame(r.json()[0]["resultados"][0]["series"][0]["serie"].items())

         0      1
0   202001   0.21
1   202002   0.46
2   202003   0.53
3   202004   0.22
4   202005  -0.16
5   202006   0.10
6   202007   0.46
7   202008   0.70
8   202009   1.34
9   202010   2.22
10  202011   3.13
11  202012   4.52
12  202101   0.25
13  202102   1.11
14  202103   2.05
15  202104   2.37
16  202105   3.22
17  202106   3.77
18  202107   4.76
19  202108   5.67
20  202109   6.90
21  202110   8.24
22  202111   9.26
23  202112  10.06
24  202201   0.54
25  202202   1.56
26  202203   3.20
27  202204   4.29
28  202205   4.78
29  202206   5.49
30  202207   4.77
31  202208   4.39
32  202209   4.09
33  202210   4.70
34  202211   5.13
35  202212   5.79
36  202301   0.53
37  202302   1.37

In [11]:
df_ipca = pd.DataFrame(r.json()[0]["resultados"][0]["series"][0]["serie"].items())
df_ipca.columns = ["Período", "Acum%"]

In [12]:
df_ipca.head()

  Período  Acum%
0  202001   0.21
1  202002   0.46
2  202003   0.53
3  202004   0.22
4  202005  -0.16

#### Inflação de grupo: Artigos de residência - Variação mensal

In [13]:
url = "https://servicodados.ibge.gov.br/api/v3/agregados/7060/periodos/202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302/variaveis/63?localidades=N1[all]&classificacao=315[7488]"

In [14]:
url_api = "https://servicodados.ibge.gov.br/api/v3/agregados"
tabela = "7060" 
periodos = "202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302"

variaveis = "63"
localidades = "N1[all]"
classificacao = "315[7486]"

In [15]:
url = f"""
{url_api}/{tabela}/periodos/{periodos}/variaveis/{variaveis}?localidades={localidades}&classificacao={classificacao}
"""

In [16]:
r = requests_html.HTMLSession().get(url)

In [17]:
r.json()

[{'id': '63',
  'variavel': 'IPCA - Variação mensal',
  'unidade': '%',
  'resultados': [{'classificacoes': [{'id': '315',
      'nome': 'Geral, grupo, subgrupo, item e subitem',
      'categoria': {'7486': '3.Artigos de residência'}}],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'202001': '-0.07',
       '202002': '-0.08',
       '202003': '-1.08',
       '202004': '-1.37',
       '202005': '0.58',
       '202006': '1.30',
       '202007': '0.90',
       '202008': '0.56',
       '202009': '1.00',
       '202010': '1.53',
       '202011': '0.86',
       '202012': '1.76',
       '202101': '0.86',
       '202102': '0.66',
       '202103': '0.69',
       '202104': '0.57',
       '202105': '1.25',
       '202106': '1.09',
       '202107': '0.78',
       '202108': '0.99',
       '202109': '0.90',
       '202110': '1.27',
       '202111': '1.03',
       '202112': '1.37',
       '202201': '1.82',
       '202202': '1.76',
       '202203': '0.57',
       '202204': '1.53',
       '202205': '0.66',
       '202206': '0.55',
       '202207': '0.12',
       '202208': '0.42',
       '202209': '-0.13',
       '202210': '0.39',
       '202211': '-0.68',
       '202212': '0.64',
       '202301': '0.70',
       '202302': '0.11'}}]}]}]

In [18]:
r.json()[0]["resultados"][0]["series"][0]["serie"]

{'202001': '-0.07',
 '202002': '-0.08',
 '202003': '-1.08',
 '202004': '-1.37',
 '202005': '0.58',
 '202006': '1.30',
 '202007': '0.90',
 '202008': '0.56',
 '202009': '1.00',
 '202010': '1.53',
 '202011': '0.86',
 '202012': '1.76',
 '202101': '0.86',
 '202102': '0.66',
 '202103': '0.69',
 '202104': '0.57',
 '202105': '1.25',
 '202106': '1.09',
 '202107': '0.78',
 '202108': '0.99',
 '202109': '0.90',
 '202110': '1.27',
 '202111': '1.03',
 '202112': '1.37',
 '202201': '1.82',
 '202202': '1.76',
 '202203': '0.57',
 '202204': '1.53',
 '202205': '0.66',
 '202206': '0.55',
 '202207': '0.12',
 '202208': '0.42',
 '202209': '-0.13',
 '202210': '0.39',
 '202211': '-0.68',
 '202212': '0.64',
 '202301': '0.70',
 '202302': '0.11'}

In [19]:
pd.DataFrame(r.json()[0]["resultados"][0]["series"][0]["serie"].items())

         0      1
0   202001  -0.07
1   202002  -0.08
2   202003  -1.08
3   202004  -1.37
4   202005   0.58
5   202006   1.30
6   202007   0.90
7   202008   0.56
8   202009   1.00
9   202010   1.53
10  202011   0.86
11  202012   1.76
12  202101   0.86
13  202102   0.66
14  202103   0.69
15  202104   0.57
16  202105   1.25
17  202106   1.09
18  202107   0.78
19  202108   0.99
20  202109   0.90
21  202110   1.27
22  202111   1.03
23  202112   1.37
24  202201   1.82
25  202202   1.76
26  202203   0.57
27  202204   1.53
28  202205   0.66
29  202206   0.55
30  202207   0.12
31  202208   0.42
32  202209  -0.13
33  202210   0.39
34  202211  -0.68
35  202212   0.64
36  202301   0.70
37  202302   0.11

In [20]:
df_grupo = pd.DataFrame(r.json()[0]["resultados"][0]["series"][0]["serie"].items())
df_grupo.columns = ["Período", "Var%"]

In [21]:
df_grupo.head()

  Período   Var%
0  202001  -0.07
1  202002  -0.08
2  202003  -1.08
3  202004  -1.37
4  202005   0.58

#### Inflação de subgrupo: Móveis e utensílios - Variação acumulada em 12 meses

In [22]:
url = "https://servicodados.ibge.gov.br/api/v3/agregados/7060/periodos/202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302/variaveis/2265?localidades=N1[all]|N7[3501]&classificacao=315[7487]"

In [23]:
url_api = "https://servicodados.ibge.gov.br/api/v3/agregados"
tabela = "7060" 
periodos = "202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302"

variaveis = "2265"
localidades = "N1[all]|N7[3501]"
classificacao = "315[7487]"

In [24]:
url = f"""
{url_api}/{tabela}/periodos/{periodos}/variaveis/{variaveis}?localidades={localidades}&classificacao={classificacao}
"""

In [25]:
r = requests_html.HTMLSession().get(url)

In [26]:
r.json()

[{'id': '2265',
  'variavel': 'IPCA - Variação acumulada em 12 meses',
  'unidade': '',
  'resultados': [{'classificacoes': [{'id': '315',
      'nome': 'Geral, grupo, subgrupo, item e subitem',
      'categoria': {'7487': '31.Móveis e utensílios'}}],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'202001': '...',
       '202002': '...',
       '202003': '...',
       '202004': '...',
       '202005': '...',
       '202006': '...',
       '202007': '...',
       '202008': '...',
       '202009': '...',
       '202010': '...',
       '202011': '...',
       '202012': '0.36',
       '202101': '1.69',
       '202102': '2.80',
       '202103': '4.28',
       '202104': '6.83',
       '202105': '9.89',
       '202106': '10.68',
       '202107': '11.52',
       '202108': '13.22',
       '202109': '13.23',
       '202110': '13.29',
       '202111': '13.21',
       '202112': '12.79',
       '202201': '13.39',
       '202202': '14.29',
       '202203': '14.88',
       '202204': '15.32',
       '202205': '15.64',
       '202206': '16.68',
       '202207': '16.59',
       '202208': '16.60',
       '202209': '16.14',
       '202210': '15.79',
       '202211': '13.82',
       '202212': '13.20',
       '202301': '12.17',
       '202302': '10.55'}},
     {'localidade': {'id': '3501',
       'nivel': {'id': 'N7', 'nome': 'Região Metropolitana'},
       'nome': 'São Paulo (SP)'},
      'serie': {'202001': '...',
       '202002': '...',
       '202003': '...',
       '202004': '...',
       '202005': '...',
       '202006': '...',
       '202007': '...',
       '202008': '...',
       '202009': '...',
       '202010': '...',
       '202011': '...',
       '202012': '-1.68',
       '202101': '0.48',
       '202102': '1.57',
       '202103': '1.71',
       '202104': '4.06',
       '202105': '7.51',
       '202106': '8.13',
       '202107': '11.15',
       '202108': '14.98',
       '202109': '14.22',
       '202110': '15.84',
       '202111': '15.84',
       '202112': '14.77',
       '202201': '15.64',
       '202202': '17.31',
       '202203': '19.14',
       '202204': '18.37',
       '202205': '19.03',
       '202206': '19.47',
       '202207': '18.26',
       '202208': '17.89',
       '202209': '18.29',
       '202210': '18.21',
       '202211': '16.67',
       '202212': '17.11',
       '202301': '16.28',
       '202302': '14.27'}}]}]}]

In [27]:
r.json()[0]["resultados"][0]["series"][1]["serie"]

{'202001': '...',
 '202002': '...',
 '202003': '...',
 '202004': '...',
 '202005': '...',
 '202006': '...',
 '202007': '...',
 '202008': '...',
 '202009': '...',
 '202010': '...',
 '202011': '...',
 '202012': '-1.68',
 '202101': '0.48',
 '202102': '1.57',
 '202103': '1.71',
 '202104': '4.06',
 '202105': '7.51',
 '202106': '8.13',
 '202107': '11.15',
 '202108': '14.98',
 '202109': '14.22',
 '202110': '15.84',
 '202111': '15.84',
 '202112': '14.77',
 '202201': '15.64',
 '202202': '17.31',
 '202203': '19.14',
 '202204': '18.37',
 '202205': '19.03',
 '202206': '19.47',
 '202207': '18.26',
 '202208': '17.89',
 '202209': '18.29',
 '202210': '18.21',
 '202211': '16.67',
 '202212': '17.11',
 '202301': '16.28',
 '202302': '14.27'}

In [28]:
pd.DataFrame(r.json()[0]["resultados"][0]["series"][1]["serie"].items())

         0      1
0   202001    ...
1   202002    ...
2   202003    ...
3   202004    ...
4   202005    ...
5   202006    ...
6   202007    ...
7   202008    ...
8   202009    ...
9   202010    ...
10  202011    ...
11  202012  -1.68
12  202101   0.48
13  202102   1.57
14  202103   1.71
15  202104   4.06
16  202105   7.51
17  202106   8.13
18  202107  11.15
19  202108  14.98
20  202109  14.22
21  202110  15.84
22  202111  15.84
23  202112  14.77
24  202201  15.64
25  202202  17.31
26  202203  19.14
27  202204  18.37
28  202205  19.03
29  202206  19.47
30  202207  18.26
31  202208  17.89
32  202209  18.29
33  202210  18.21
34  202211  16.67
35  202212  17.11
36  202301  16.28
37  202302  14.27

In [29]:
df_subgrupo = pd.DataFrame(r.json()[0]["resultados"][0]["series"][1]["serie"].items())
df_subgrupo.columns = ["Período", "Acum12m%"]

In [30]:
df_subgrupo.head()

  Período Acum12m%
0  202001      ...
1  202002      ...
2  202003      ...
3  202004      ...
4  202005      ...

#### Inflação de item: Mobiliario - Variação acumulada em 12 meses

In [31]:
url = "https://servicodados.ibge.gov.br/api/v3/agregados/7060/periodos/202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302/variaveis/2265?localidades=N1[all]|N7[3301,3501]&classificacao=315[7488]"

In [32]:
url_api = "https://servicodados.ibge.gov.br/api/v3/agregados"
tabela = "7060" 
periodos = "202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302"

variaveis = "2265"
localidades = "N1[all]|N7[3301,3501]"
classificacao = "315[7488]"

In [33]:
url = f"""
{url_api}/{tabela}/periodos/{periodos}/variaveis/{variaveis}?localidades={localidades}&classificacao={classificacao}
"""

In [34]:
r = requests_html.HTMLSession().get(url)

In [35]:
r.json()

[{'id': '2265',
  'variavel': 'IPCA - Variação acumulada em 12 meses',
  'unidade': '',
  'resultados': [{'classificacoes': [{'id': '315',
      'nome': 'Geral, grupo, subgrupo, item e subitem',
      'categoria': {'7488': '3101.Mobiliário'}}],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'202001': '...',
       '202002': '...',
       '202003': '...',
       '202004': '...',
       '202005': '...',
       '202006': '...',
       '202007': '...',
       '202008': '...',
       '202009': '...',
       '202010': '...',
       '202011': '...',
       '202012': '-3.20',
       '202101': '-1.38',
       '202102': '-0.11',
       '202103': '1.54',
       '202104': '5.75',
       '202105': '10.10',
       '202106': '11.40',
       '202107': '12.38',
       '202108': '14.82',
       '202109': '15.12',
       '202110': '15.51',
       '202111': '16.69',
       '202112': '15.73',
       '202201': '16.78',
       '202202': '18.31',
       '202203': '19.80',
       '202204': '20.39',
       '202205': '21.20',
       '202206': '22.86',
       '202207': '23.40',
       '202208': '23.73',
       '202209': '23.07',
       '202210': '22.49',
       '202211': '18.96',
       '202212': '18.38',
       '202301': '16.58',
       '202302': '14.26'}},
     {'localidade': {'id': '3301',
       'nivel': {'id': 'N7', 'nome': 'Região Metropolitana'},
       'nome': 'Rio de Janeiro (RJ)'},
      'serie': {'202001': '...',
       '202002': '...',
       '202003': '...',
       '202004': '...',
       '202005': '...',
       '202006': '...',
       '202007': '...',
       '202008': '...',
       '202009': '...',
       '202010': '...',
       '202011': '...',
       '202012': '-2.81',
       '202101': '-0.28',
       '202102': '1.26',
       '202103': '4.76',
       '202104': '9.30',
       '202105': '13.42',
       '202106': '14.99',
       '202107': '15.49',
       '202108': '14.40',
       '202109': '15.31',
       '202110': '15.49',
       '202111': '15.82',
       '202112': '15.02',
       '202201': '13.57',
       '202202': '14.76',
       '202203': '18.30',
       '202204': '22.28',
       '202205': '24.10',
       '202206': '27.58',
       '202207': '32.07',
       '202208': '33.13',
       '202209': '31.87',
       '202210': '29.10',
       '202211': '25.60',
       '202212': '22.09',
       '202301': '22.34',
       '202302': '20.05'}},
     {'localidade': {'id': '3501',
       'nivel': {'id': 'N7', 'nome': 'Região Metropolitana'},
       'nome': 'São Paulo (SP)'},
      'serie': {'202001': '...',
       '202002': '...',
       '202003': '...',
       '202004': '...',
       '202005': '...',
       '202006': '...',
       '202007': '...',
       '202008': '...',
       '202009': '...',
       '202010': '...',
       '202011': '...',
       '202012': '-6.82',
       '202101': '-4.04',
       '202102': '-2.60',
       '202103': '-3.30',
       '202104': '0.83',
       '202105': '5.74',
       '202106': '7.12',
       '202107': '10.40',
       '202108': '15.77',
       '202109': '15.34',
       '202110': '17.65',
       '202111': '19.55',
       '202112': '17.37',
       '202201': '19.13',
       '202202': '22.28',
       '202203': '26.28',
       '202204': '24.98',
       '202205': '25.81',
       '202206': '26.54',
       '202207': '25.83',
       '202208': '25.65',
       '202209': '26.64',
       '202210': '27.17',
       '202211': '23.67',
       '202212': '25.22',
       '202301': '23.48',
       '202302': '20.19'}}]}]}]

In [36]:
r.json()[0]["resultados"][0]["series"][1]["serie"]

{'202001': '...',
 '202002': '...',
 '202003': '...',
 '202004': '...',
 '202005': '...',
 '202006': '...',
 '202007': '...',
 '202008': '...',
 '202009': '...',
 '202010': '...',
 '202011': '...',
 '202012': '-2.81',
 '202101': '-0.28',
 '202102': '1.26',
 '202103': '4.76',
 '202104': '9.30',
 '202105': '13.42',
 '202106': '14.99',
 '202107': '15.49',
 '202108': '14.40',
 '202109': '15.31',
 '202110': '15.49',
 '202111': '15.82',
 '202112': '15.02',
 '202201': '13.57',
 '202202': '14.76',
 '202203': '18.30',
 '202204': '22.28',
 '202205': '24.10',
 '202206': '27.58',
 '202207': '32.07',
 '202208': '33.13',
 '202209': '31.87',
 '202210': '29.10',
 '202211': '25.60',
 '202212': '22.09',
 '202301': '22.34',
 '202302': '20.05'}

In [37]:
pd.DataFrame(r.json()[0]["resultados"][0]["series"][1]["serie"].items())

         0      1
0   202001    ...
1   202002    ...
2   202003    ...
3   202004    ...
4   202005    ...
5   202006    ...
6   202007    ...
7   202008    ...
8   202009    ...
9   202010    ...
10  202011    ...
11  202012  -2.81
12  202101  -0.28
13  202102   1.26
14  202103   4.76
15  202104   9.30
16  202105  13.42
17  202106  14.99
18  202107  15.49
19  202108  14.40
20  202109  15.31
21  202110  15.49
22  202111  15.82
23  202112  15.02
24  202201  13.57
25  202202  14.76
26  202203  18.30
27  202204  22.28
28  202205  24.10
29  202206  27.58
30  202207  32.07
31  202208  33.13
32  202209  31.87
33  202210  29.10
34  202211  25.60
35  202212  22.09
36  202301  22.34
37  202302  20.05

In [38]:
df_item = pd.DataFrame(r.json()[0]["resultados"][0]["series"][1]["serie"].items())
df_item.columns = ["Período", "Acum12m%"]

In [39]:
df_item.tail()

   Período Acum12m%
33  202210    29.10
34  202211    25.60
35  202212    22.09
36  202301    22.34
37  202302    20.05

#### Inflação de subitem: Móvel para sala - Variação acumulada em 12 meses

In [40]:
url = "https://servicodados.ibge.gov.br/api/v3/agregados/7060/periodos/202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302/variaveis/2265?localidades=N1[all]|N7[3301,3501]&classificacao=315[7489]"

In [41]:
url_api = "https://servicodados.ibge.gov.br/api/v3/agregados"
tabela = "7060" 
periodos = "202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302"

variaveis = "2265"
localidades = "N1[all]|N7[3301,3501]"
classificacao = "315[7489]"

In [42]:
url = f"""
{url_api}/{tabela}/periodos/{periodos}/variaveis/{variaveis}?localidades={localidades}&classificacao={classificacao}
"""

In [43]:
r = requests_html.HTMLSession().get(url)

In [44]:
r.json()

[{'id': '2265',
  'variavel': 'IPCA - Variação acumulada em 12 meses',
  'unidade': '',
  'resultados': [{'classificacoes': [{'id': '315',
      'nome': 'Geral, grupo, subgrupo, item e subitem',
      'categoria': {'7489': '3101002.Móvel para sala'}}],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'202001': '...',
       '202002': '...',
       '202003': '...',
       '202004': '...',
       '202005': '...',
       '202006': '...',
       '202007': '...',
       '202008': '...',
       '202009': '...',
       '202010': '...',
       '202011': '...',
       '202012': '-4.55',
       '202101': '-1.58',
       '202102': '-1.32',
       '202103': '0.34',
       '202104': '3.43',
       '202105': '7.81',
       '202106': '9.32',
       '202107': '9.35',
       '202108': '10.46',
       '202109': '10.37',
       '202110': '11.88',
       '202111': '13.18',
       '202112': '12.85',
       '202201': '13.51',
       '202202': '15.29',
       '202203': '18.31',
       '202204': '20.28',
       '202205': '21.84',
       '202206': '23.32',
       '202207': '24.48',
       '202208': '26.52',
       '202209': '25.11',
       '202210': '24.37',
       '202211': '20.51',
       '202212': '20.42',
       '202301': '19.39',
       '202302': '17.29'}},
     {'localidade': {'id': '3301',
       'nivel': {'id': 'N7', 'nome': 'Região Metropolitana'},
       'nome': 'Rio de Janeiro (RJ)'},
      'serie': {'202001': '...',
       '202002': '...',
       '202003': '...',
       '202004': '...',
       '202005': '...',
       '202006': '...',
       '202007': '...',
       '202008': '...',
       '202009': '...',
       '202010': '...',
       '202011': '...',
       '202012': '-6.40',
       '202101': '-1.49',
       '202102': '-0.80',
       '202103': '3.12',
       '202104': '9.56',
       '202105': '13.57',
       '202106': '14.76',
       '202107': '15.52',
       '202108': '13.84',
       '202109': '14.68',
       '202110': '13.28',
       '202111': '13.49',
       '202112': '11.20',
       '202201': '7.87',
       '202202': '8.44',
       '202203': '11.50',
       '202204': '15.31',
       '202205': '20.47',
       '202206': '25.84',
       '202207': '29.87',
       '202208': '33.38',
       '202209': '31.89',
       '202210': '28.76',
       '202211': '27.06',
       '202212': '24.56',
       '202301': '26.41',
       '202302': '25.10'}},
     {'localidade': {'id': '3501',
       'nivel': {'id': 'N7', 'nome': 'Região Metropolitana'},
       'nome': 'São Paulo (SP)'},
      'serie': {'202001': '...',
       '202002': '...',
       '202003': '...',
       '202004': '...',
       '202005': '...',
       '202006': '...',
       '202007': '...',
       '202008': '...',
       '202009': '...',
       '202010': '...',
       '202011': '...',
       '202012': '-5.97',
       '202101': '-2.50',
       '202102': '-3.06',
       '202103': '-3.69',
       '202104': '-1.74',
       '202105': '3.74',
       '202106': '5.78',
       '202107': '6.75',
       '202108': '8.47',
       '202109': '7.66',
       '202110': '10.95',
       '202111': '13.17',
       '202112': '12.45',
       '202201': '13.57',
       '202202': '16.86',
       '202203': '24.20',
       '202204': '26.05',
       '202205': '26.07',
       '202206': '25.51',
       '202207': '25.03',
       '202208': '28.71',
       '202209': '27.97',
       '202210': '28.06',
       '202211': '23.42',
       '202212': '24.47',
       '202301': '23.89',
       '202302': '21.56'}}]}]}]

In [45]:
r.json()[0]["resultados"][0]["series"][2]["serie"]

{'202001': '...',
 '202002': '...',
 '202003': '...',
 '202004': '...',
 '202005': '...',
 '202006': '...',
 '202007': '...',
 '202008': '...',
 '202009': '...',
 '202010': '...',
 '202011': '...',
 '202012': '-5.97',
 '202101': '-2.50',
 '202102': '-3.06',
 '202103': '-3.69',
 '202104': '-1.74',
 '202105': '3.74',
 '202106': '5.78',
 '202107': '6.75',
 '202108': '8.47',
 '202109': '7.66',
 '202110': '10.95',
 '202111': '13.17',
 '202112': '12.45',
 '202201': '13.57',
 '202202': '16.86',
 '202203': '24.20',
 '202204': '26.05',
 '202205': '26.07',
 '202206': '25.51',
 '202207': '25.03',
 '202208': '28.71',
 '202209': '27.97',
 '202210': '28.06',
 '202211': '23.42',
 '202212': '24.47',
 '202301': '23.89',
 '202302': '21.56'}

In [46]:
pd.DataFrame(r.json()[0]["resultados"][0]["series"][2]["serie"].items())

         0      1
0   202001    ...
1   202002    ...
2   202003    ...
3   202004    ...
4   202005    ...
5   202006    ...
6   202007    ...
7   202008    ...
8   202009    ...
9   202010    ...
10  202011    ...
11  202012  -5.97
12  202101  -2.50
13  202102  -3.06
14  202103  -3.69
15  202104  -1.74
16  202105   3.74
17  202106   5.78
18  202107   6.75
19  202108   8.47
20  202109   7.66
21  202110  10.95
22  202111  13.17
23  202112  12.45
24  202201  13.57
25  202202  16.86
26  202203  24.20
27  202204  26.05
28  202205  26.07
29  202206  25.51
30  202207  25.03
31  202208  28.71
32  202209  27.97
33  202210  28.06
34  202211  23.42
35  202212  24.47
36  202301  23.89
37  202302  21.56

In [47]:
df_subitem = pd.DataFrame(r.json()[0]["resultados"][0]["series"][2]["serie"].items())
df_subitem.columns = ["Período", "Acum12m%"]

In [48]:
df_subitem.tail()

   Período Acum12m%
33  202210    28.06
34  202211    23.42
35  202212    24.47
36  202301    23.89
37  202302    21.56

### PIMPF - Pesquisa Industrial Mensal

In [49]:
url = "https://servicodados.ibge.gov.br/api/v3/agregados/7511/periodos/200201|200202|200203|200204|200205|200206|200207|200208|200209|200210|200211|200212|200301|200302|200303|200304|200305|200306|200307|200308|200309|200310|200311|200312|200401|200402|200403|200404|200405|200406|200407|200408|200409|200410|200411|200412|200501|200502|200503|200504|200505|200506|200507|200508|200509|200510|200511|200512|200601|200602|200603|200604|200605|200606|200607|200608|200609|200610|200611|200612|200701|200702|200703|200704|200705|200706|200707|200708|200709|200710|200711|200712|200801|200802|200803|200804|200805|200806|200807|200808|200809|200810|200811|200812|200901|200902|200903|200904|200905|200906|200907|200908|200909|200910|200911|200912|201001|201002|201003|201004|201005|201006|201007|201008|201009|201010|201011|201012|201101|201102|201103|201104|201105|201106|201107|201108|201109|201110|201111|201112|201201|201202|201203|201204|201205|201206|201207|201208|201209|201210|201211|201212|201301|201302|201303|201304|201305|201306|201307|201308|201309|201310|201311|201312|201401|201402|201403|201404|201405|201406|201407|201408|201409|201410|201411|201412|201501|201502|201503|201504|201505|201506|201507|201508|201509|201510|201511|201512|201601|201602|201603|201604|201605|201606|201607|201608|201609|201610|201611|201612|201701|201702|201703|201704|201705|201706|201707|201708|201709|201710|201711|201712|201801|201802|201803|201804|201805|201806|201807|201808|201809|201810|201811|201812|201901|201902|201903|201904|201905|201906|201907|201908|201909|201910|201911|201912|202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212/variaveis/11599?localidades=N1[all]&classificacao=542[129272]"

In [50]:
url_api = "https://servicodados.ibge.gov.br/api/v3/agregados"
tabela = "7511" 
periodos = "202001|202002|202003|202004|202005|202006|202007|202008|202009|202010|202011|202012|202101|202102|202103|202104|202105|202106|202107|202108|202109|202110|202111|202112|202201|202202|202203|202204|202205|202206|202207|202208|202209|202210|202211|202212|202301|202302"
variaveis = "11599"
localidades = "N1[all]"
classificacao = "542[129272]"

In [51]:
url = f"""
{url_api}/{tabela}/periodos/{periodos}/variaveis/{variaveis}?localidades={localidades}&classificacao={classificacao}
"""

In [52]:
r = requests_html.HTMLSession().get(url)

In [53]:
r.json()

[{'id': '11599',
  'variavel': 'PIMPF - Número-índice (2012=100)',
  'unidade': 'Número-índice',
  'resultados': [{'classificacoes': [{'id': '542',
      'nome': 'Grupos e classes industriais',
      'categoria': {'129272': '31.0 Fabricação de móveis'}}],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'202001': '72.24246',
       '202002': '71.17207',
       '202003': '56.24803',
       '202004': '29.23492',
       '202005': '45.93107',
       '202006': '66.30143',
       '202007': '84.67266',
       '202008': '89.14085',
       '202009': '89.06820',
       '202010': '94.56244',
       '202011': '91.75790',
       '202012': '79.15067',
       '202101': '77.85363',
       '202102': '74.71435',
       '202103': '76.33614',
       '202104': '61.04787',
       '202105': '67.80929',
       '202106': '66.22936',
       '202107': '72.02773',
       '202108': '75.61478',
       '202109': '70.20050',
       '202110': '72.22554',
       '202111': '74.79900',
       '202112': '58.25751',
       '202201': '52.06282',
       '202202': '52.79315',
       '202203': '58.69208',
       '202204': '53.96018',
       '202205': '62.03069',
       '202206': '59.90396',
       '202207': '61.30834',
       '202208': '65.15501',
       '202209': '60.83855',
       '202210': '61.10184',
       '202211': '65.32768',
       '202212': '56.42884'}}]}]}]

In [54]:
pd.DataFrame(r.json()[0]["resultados"][0]["series"][0]["serie"].items())

         0         1
0   202001  72.24246
1   202002  71.17207
2   202003  56.24803
3   202004  29.23492
4   202005  45.93107
5   202006  66.30143
6   202007  84.67266
7   202008  89.14085
8   202009  89.06820
9   202010  94.56244
10  202011  91.75790
11  202012  79.15067
12  202101  77.85363
13  202102  74.71435
14  202103  76.33614
15  202104  61.04787
16  202105  67.80929
17  202106  66.22936
18  202107  72.02773
19  202108  75.61478
20  202109  70.20050
21  202110  72.22554
22  202111  74.79900
23  202112  58.25751
24  202201  52.06282
25  202202  52.79315
26  202203  58.69208
27  202204  53.96018
28  202205  62.03069
29  202206  59.90396
30  202207  61.30834
31  202208  65.15501
32  202209  60.83855
33  202210  61.10184
34  202211  65.32768
35  202212  56.42884

In [55]:
df_prod = pd.DataFrame(r.json()[0]["resultados"][0]["series"][0]["serie"].items())
df_prod.columns = ["Período", "Número-índice"]

In [56]:
df_prod

   Período Número-índice
0   202001      72.24246
1   202002      71.17207
2   202003      56.24803
3   202004      29.23492
4   202005      45.93107
5   202006      66.30143
6   202007      84.67266
7   202008      89.14085
8   202009      89.06820
9   202010      94.56244
10  202011      91.75790
11  202012      79.15067
12  202101      77.85363
13  202102      74.71435
14  202103      76.33614
15  202104      61.04787
16  202105      67.80929
17  202106      66.22936
18  202107      72.02773
19  202108      75.61478
20  202109      70.20050
21  202110      72.22554
22  202111      74.79900
23  202112      58.25751
24  202201      52.06282
25  202202      52.79315
26  202203      58.69208
27  202204      53.96018
28  202205      62.03069
29  202206      59.90396
30  202207      61.30834
31  202208      65.15501
32  202209      60.83855
33  202210      61.10184
34  202211      65.32768
35  202212      56.42884